## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# old stuff
bin/
dist/
buildConfig/lib/

# Eclipse & IntelliJ stuff
.project
.classpath
.settings/
.idea
EPUB-Checker.iml

# maven stuff
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Ignore secrets
src/build/gon-config.json
