language: java
jdk:
  - openjdk7
  - oraclejdk8
  - oraclejdk9
  - openjdk10
  - oraclejdk11
  - openjdk11
sudo: required
install: true
before_script:
  - sudo apt-get -qq update
  - sudo apt-get install -y lib32z1 lib32ncurses5 lib32bz2-1.0
  
script: mvn --show-version -Dmaven.codesign.skip=true clean verify
