# This workflow will build a Java project with Maven
# For more information see:
# - https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
# - https://github.com/actions/setup-java
# - https://github.com/actions/starter-workflows/edit/master/ci/maven.yml

name: Java CI with Maven

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against latest update of each major Java version:
        java: [ 7, 8, 9, 10, 11, 12, 13, 14 ]
    name: Build with Java ${{ matrix.java }}
    
    steps:
    - uses: actions/checkout@v2
      
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    
    - name: Build and Verify with Maven on Java ${{ matrix.java }}
      run: mvn -B --show-version -Dmaven.codesign.skip=true clean verify

    - name: Archive App & Jar build snapshots
      uses: actions/upload-artifact@v2-preview
      with:
        name: App_Snapshots
        path: target/EPUB-Checker-*
